@use "shared/styles/color.scss" as *;

.cardTag {
  background-color: #e0f2f1;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 12px;
  margin: 2px;
  color: #000;
  overflow-wrap: anywhere;
}

@media (max-width: 380px) {
  .cardTag {
    padding: 2px 6px;
    font-size: 11px;
  }
}
